* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header { 
    background-color: darkseagreen;
    height: 120px;
    float: top;
    margin: 20px 20px 0px;    
}
#h4 { 
    color: aliceblue;
    padding: 20px;
    font-size: 1rem;
    float: left;
    font-size: 20px;
}
article > main { 
    background-color: blueviolet;
    width: 70%;
    height: 300px;
    float: left
    
}
article > aside { 
    background-color: hotpink;
    width: 30%;
    height: 300px;
    float:right
    
}
footer { 
    background-color: yellow;
    width: auto;
    height: 100px;
    clear: both;
}
