.container {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-areas:
      "header header"
      "menu content"
      "footer footer"
  }
  .container > * {
    padding: 5px 10px;
    color: #ffffff;
  }
  
  .header {
    grid-area: header;
    background-color: #a1cdb6;
  }
  .menu {
    display: flex;
    grid-area: menu;
    background-color: #ef776e;
    align-items: center;
    height: 300px;
  }
  .content {
    display: flex;
    grid-area: content;
    align-items: center;
    background-color: #f9cc6e;
  }
  .footer {
    grid-area: footer;
    background-color: #a1cdb6;
  }